<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >



</head>
<body>
<h1>Домашняя страница</h1>
<h2>templates/home.html</h2>


<h3>Страница с результатами 4 задачи</h3>
<img src="{% static 'images/11.png' %}" alt="Histogram">

<h3>График минимума функции</h3>
<img src="{% static 'images/22.png' %}" alt="Graph">
<p><a href="/">Клиенты</a></p>
</body>
</html>